{% extends 'main/base.html' %}

{% block content %}
    <!--begin home-section-->
    <div class="home-section">

    <div class="home-section-overlay"></div>

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">
              
              <!--begin col md 12-->
              <div class="col-md-12">

                <div class="home-title">

                    <span class="text">Smart & Quick Planning</span>
                    <h1>We Provide Financial Solutions</h1>
                    <p>Curabitur quam etsum lacus etsumis nulatis etsumisedvitae etimuned nisle<br>varius 
                    loremis feugiat etis netsum</p>

                </div>
                
              </div>
              <!--end col md 12-->
           
            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div> 
    <!--end home-section-->
    
    <!--begin section-white-->
    <section class="section-white"> 
      
      <!--begin container-->
      <div class="container">

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-12-->
                <div class="col-md-12 text-center margin-bottom-20">
                    <h2 class="section-title dark-blue">Core Services We Offer</h2>
                    
                    <p class="section-subtitle">There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration, by injected humour, or new randomised words.</p>
                </div>
                <!--end col-md-12-->
            
            </div>
            <!--end row--> 

            <!--begin row-->
            <div class="row">

                <!--begin col sm 4-->
                <div class="col-sm-4">

                    <div class="service-box text-center">
                        <div class="service-title">
                            <i class="fa fa-area-chart ico-gradient service-icon"></i>
                            <h3>Financial Planning</h3>
                        </div>

                        <ul class="service-features">
                            <li class="margin-bottom-10">Quis netsi etsa lorem nibh ligula et evenit praesent autim fugit justo et sed tempor. 
                            Curabitur quam etsum lacus etsumis nulat iaculis ets vitae.</li>
                            <li><i class="fa fa-check"></i>Quis nihil poris ratione sequi.</li>
                            <li><i class="fa fa-check"></i>Ut wisi enim ad minim veniam.</li>
                            <li><i class="fa fa-check"></i>Quis voluptate quam nihil poris.</li>
                        </ul>
                        
                    </div>

                </div>
                <!--end col sm 4-->

                <!--begin col sm 4-->
                <div class="col-sm-4">

                    <div class="service-box text-center">
                        <div class="service-title">
                            <i class="fa fa-bank ico-gradient service-icon"></i>
                            <h3>Private Banking Services</h3>
                        </div>

                        <ul class="service-features">
                            <li class="margin-bottom-10">Quis netsi etsa lorem nibh ligula et evenit praesent autim fugit justo et sed tempor. 
                            Curabitur quam etsum lacus etsumis nulat iaculis ets vitae.</li>
                            <li><i class="fa fa-check"></i>Quis nihil poris ratione sequi.</li>
                            <li><i class="fa fa-check"></i>Ut wisi enim ad minim veniam.</li>
                            <li><i class="fa fa-check"></i>Quis voluptate quam nihil poris.</li>
                        </ul>
                        
                    </div>

                </div>
                <!--end col sm 4-->

                <!--begin col sm 4-->
                <div class="col-sm-4">

                    <div class="service-box text-center">
                        <div class="service-title">
                            <i class="fa fa-balance-scale ico-gradient service-icon"></i>
                            <h3>Taxes Calculation</h3>
                        </div>

                        <ul class="service-features">
                            <li class="margin-bottom-10">Quis netsi etsa lorem nibh ligula et evenit praesent autim fugit justo et sed tempor. 
                            Curabitur quam etsum lacus etsumis nulat iaculis ets vitae.</li>
                            <li><i class="fa fa-check"></i>Quis nihil poris ratione sequi.</li>
                            <li><i class="fa fa-check"></i>Ut wisi enim ad minim veniam.</li>
                            <li><i class="fa fa-check"></i>Quis voluptate quam nihil poris.</li>
                        </ul>
                        
                    </div>

                </div>
                <!--end col sm 4-->
                
            </div>
            <!--end row-->
        
      </div>
      <!--end container-->
            
    </section>
    <!--end section-white-->
    
    <!--begin section-white-->
    <section class="section-white"> 
          
        <!--begin container-->
        <div class="container"> 

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-12-->
                <div class="col-md-12 text-center margin-bottom-30">
                    <h2 class="section-title dark-blue">Why Choose Us</h2>
                    
                    <p class="section-subtitle">There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration, by injected humour, or new randomised words.</p>
                </div>
                <!--end col-md-12-->
            
            </div>
            <!--end row-->
            
            <!--begin row-->
            <div class="row">

                <!--begin col-sm-4-->
                <div class="col-sm-4 text-center margin-bottom-20">

                    <div class="service-wrapper">
                        <div class="ico-wrap">
                            <i class="flaticon-businessmen-2 ico-unicolor"></i>
                        </div>
                        <h3>Financial Consulting</h3>
                        <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p>
                    </div>
                </div>
                <!--end col-sm-4-->
                
                <!--begin col-sm-4-->
                <div class="col-sm-4 text-center margin-bottom-20">
                    <div class="service-wrapper">
                        <div class="ico-wrap">
                            <i class="flaticon-businessman-11 ico-unicolor"></i>
                        </div>
                        <h3>Super Experts Advisors</h3>
                        <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p>
                    </div>    
                </div>
                <!--end col-sm-4-->
                
                <!--begin col-sm-4-->
                <div class="col-sm-4 text-center margin-bottom-20">
                    <div class="service-wrapper">
                        <div class="ico-wrap">
                            <i class="flaticon-piggy-bank-1 ico-unicolor"></i>
                        </div>
                        <h3>Insurance Consulting</h3>
                        <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p>
                    </div>
                </div>
                <!--end col-sm-4-->

            </div>
            <!--end row-->

            <!--begin row-->
            <div class="row">

                <!--begin col-sm-4-->
                <div class="col-sm-4 text-center">
                    <div class="service-wrapper">
                        <div class="ico-wrap">
                            <i class="flaticon-coin-2 ico-unicolor"></i>
                        </div>
                        <h3>Taxes Planning Schedule</h3>
                        <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p>
                    </div>
                </div>
                <!--end col-sm-4-->

                
                <!--begin col-sm-4-->
                <div class="col-sm-4 text-center">
                    <div class="service-wrapper">
                        <div class="ico-wrap">
                            <i class="flaticon-businessman ico-unicolor"></i>
                        </div>
                        <h3>Retirement Planning</h3>
                        <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p>
                    </div>
                </div>
                <!--end col-sm-4-->
                
                <!--begin col-sm-4-->
                <div class="col-sm-4 text-center">
                    <div class="service-wrapper">
                        <div class="ico-wrap">
                            <i class="flaticon-browser-1 ico-unicolor"></i>
                        </div>
                        <h3>Business Loans Support</h3>
                        <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p>
                    </div>    
                </div>
                <!--end col-sm-4-->
                
            </div>
            <!--end row-->
        
        </div>
        <!--end container-->
      
    </section>
    <!--end section-white-->
    {% endblock %}